body {
    background-color: antiquewhite;
}
#grid{
    background-color: cadetblue;
    justify-items: flex-start;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 10px;
    margin-top: -8px;
    justify-content:flex-start;
    width: 1200px;
}
#love{
    padding-top: 0px;
}
#backgroundimg {
    /* background-image: url("C:/final projeqt js/imgs/background.gif"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 1200px;
    height: auto;
    z-index: -2;
  
}


#player1 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 120px;
    height: auto;
}
#gift1{
    width: 50px;
    height: auto;
    position: absolute;
}
#gift2{
    width: 50px;
    height: auto;
    position: absolute;
}
#target{
    width: 150px;
    height: auto;
    top: 478px;
    left: 1080px;
    position: absolute;
}
#bit1 {
    width: 100px;
    height: auto;
    top: 600px;
    left: 940px;
    position: absolute;
    z-index: -2;
}

#bit2 {
    width: 120px;
    height: auto;
    top: 600px;
    left: 650px;
    position: absolute;
    z-index: -2;
}

#bit3 {
    width: 200px;
    height: auto;
    /* bottom: 0px; */
    top: 600px;
    left: 390px;
    position: absolute;
    z-index: -2;
}

#bit4 {
    width: 100px;
    height: auto;
    top: 600px;
    left: 150px;
    position: absolute;
    z-index: -2;
}
#daun{
    background-color: darkcyan;
    position: absolute;
    width: 1200px;
    height: 300px;
    margin-top: -150px;
    margin-bottom: -150px; 
}